{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="projectTickets">
<head>
    <!--meta http-equiv="Content-Type" content="text/html; charset=UTF8"-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/yeti.bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap.css' %}"/>
    <script type="text/javascript" src="{% static 'js/jquery-2.1.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.bootstrap.js' %}"></script>
</head>
<body id="body" class="container">

<div class="bs-component" ng-controller="ItemController as ItemCtrl">
            <table class="table table-striped table-hover" id="tickets">
                <thead>
                <tr>
                    <th></th>
                    <th>#</th>
                    <th>Внесено</th>
                    <th>Описание</th>
                    <!--th>Статус Молвест</th>
                    <th>Статус Солво</th-->
                    <th>Ответственный</th>
                    <th>Планируется исправление</th>
                    <th>Обнаружено</th>
                    <th>Исправлено</th>
                    <th>Дата исправления</th>
                    <th>Подтверждено</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in items" id="{[{item.pk}]}">
                    <td><input type="checkbox" ng-model="item.selected"></td>
                    <td>{[{item.pk}]}</td>
                    <td>{[{item.fields.submitted_by}]}</td>
                    <td>{[{item.fields.description}]}</td>
                    <!--td>{[{item.fields.status_customer}]}</td>
                    <td>{[{item.fields.status_solvo}]}</td-->
                    <td>{[{item.fields.responsible}]}</td>
                    <td>{[{item.fields.date_to_fix | date:'EEEE, MMM d, y'}]}</td>
                    <td>{[{item.fields.date_found | date:'EEEE, MMM d, y HH:mm:ss'}]}</td>
                    <td><input type="checkbox" ng-model="item.fields.fixed" ng-click="ItemCtrl.fix(item.pk)"></td>
                    <td>{[{item.fields.date_fixed | date:'EEEE, MMM d, y HH:mm:ss'}]}</td>
                    <td>{[{item.fields.date_fix_confirmed | date:'medium'}]}</td>
                </tr>
                </tbody>
            </table>
            <!--button class="btn btn-default">Отмена</button-->
            <button type="submit" class="btn btn-danger" ng-click="ItemCtrl.checkItems()">Удалить</button>
</div>

<form class="form-horizontal" ng-controller="AddItemController as addItemCtrl">
  <fieldset>
    <legend>Новая запись</legend>
    <div class="form-group">
      <label for="submittedBy" class="col-lg-2 control-label">Кем внесено</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="submittedBy" ng-model="addItemCtrl.item.submitted_by" placeholder="Ваши имя и фамилия">
      </div>
    </div>
    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Описание</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="textArea" ng-model="addItemCtrl.item.description" placeholder="Кратко опишите проблему"></textarea>
        <span class="help-block">Если возникает ошибка при определенных действиях,
            то желательно предоставить пример с указанием времени и точных данных
            (имя пользователя, ID груза, номер заказа или работы и т.п.)</span>
      </div>
    </div>
    <div class="form-group">
      <label for="responsible" class="col-lg-2 control-label">Ответственные</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="responsible" ng-model="addItemCtrl.item.responsible" placeholder="Имена и фамилии лиц, ответственных за решение">
      </div>
    </div>
    <div class="form-group">
      <label for="dateToFix" class="col-lg-2 control-label">Планируется исправление</label>
      <div class="col-lg-2">
        <input class="dateinput form-control" id="dateToFix" ng-model="addItemCtrl.item.date_to_fix" placeholder="mm.dd.yyyy" type="text" value="" >
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <!--button class="btn btn-default">Отмена</button-->
        <button type="submit" class="btn btn-primary" ng-click="addItemCtrl.addItem()">Добавить</button>
      </div>
    </div>
  </fieldset>
</form>

<!--form name="reviewForm" ng-controller="AddItemController as addItemCtrl" ng-submit="addItemCtrl.addItem(itemCtrl.item)"
      class="form-horizontal"-->
    <!--  Live Preview -->
    <!--blockquote>
        {[{addItemCtrl.item.description}]}
    </blockquote>

    <fieldset>
        <div class="form-group">
            <textarea ng-model="addItemCtrl.item.description" class="form-control"
                      placeholder="Write a short prolem description..." title="Description"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary pull-right" value="Submit"/>
        </div>
    </fieldset>
</form-->
<script type="text/javascript">
    $(document).ready(function() {
        $('.dateinput').datetimepicker({ pickTime: false, format: 'DD.MM.YYYY'});
        //$('#tickets').dataTable();
    } );
</script>

</body>
</html>